.site_title {
    margin: 20px 10px 0px 10px;
    height: auto;
    line-height: normal;
}

.nav_title {
    height: auto;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: none;
    border-bottom: 1px solid #ddd;
}

.profile_info {
    padding: 25px 0 10px;
}

.panel_toolbox {
    min-width: initial;
}

.btn.btn-app-large {
    height: auto;
    margin: 0 10px 10px 0;
    padding: 15px 5px 5px 5px;
}

    .btn.btn-app-large > .fa, .btn.btn-app > .glyphicon, .btn.btn-app > .ion {
        font-size: 40px;
        margin-bottom: 5px;
    }